
.ios, .md, .wp{
    page-categorizes {
        button{
            padding: 0px;
            margin: 0px;
            width: 100% ; 
            height: 165px;
        }
        img{
            width: 100% ; 
            height: 100%;
            opacity: 0.6;
        }

     }
}
